@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://use.typekit.net/dqh6sjh.css");
@mixin font-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

@mixin font-thin-italic {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}

@mixin font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

@mixin font-italic {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

@mixin font-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

@mixin font-bold-italic {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}

@mixin font-black {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
}

@mixin font-black-italic {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
}

@mixin font-narrow {
    font-family: "alternate-gothic-condensed-a", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font-narrow-demi {
    font-family: "alternate-gothic-condensed-a", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin font-narrow-bold {
    font-family: "alternate-gothic-condensed-a", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin font-narrow-heavy {
    font-family: "alternate-gothic-condensed-a", sans-serif;
    font-weight: 800;
    font-style: normal;
}

@mixin font-narrow-black {
    font-family: "alternate-gothic-condensed-a", sans-serif;
    font-weight: 900;
    font-style: normal;
}