footer {
    @include clearfix;
    @include padding;
    background: white url(../img/bg-tree-rings-light-blue.svg) right bottom no-repeat;
    background-size: contain;
    color: $navy;
    line-height: 1.5em;
    a {
        color: $blue;
    }
    .column {
        padding: 20px 0;
        h4 {
            @include font-narrow-bold;
            text-transform: uppercase;
            font-size: 1.8em;
            padding-top: 15px;
        }
        .photo img {
            max-width: 300px;
        }
    }
    .socials {
        a {
            img {
                max-width: 50px;
            }
        }
    }
    @include respond-to( $bp-m) {
        .columns {
            display: flex;
            margin-right: -3%;
            .column {
                flex: 1;
                margin-right: 3%;
            }
        }
    }
}