$accordion-arrow-size: 35px;
.accordions {
    padding: 15px 0;
    .accordion {
        margin-bottom: 10px;
        .accordion-handle {
            @include font-bold;
            position: relative;
            background-color: $grey;
            color: white;
            padding: 15px 10px 15px 20px;
            cursor: pointer;
            font-size: 1.1em;
            text-transform: uppercase;
            @include respond-to( $bp-m) {
                padding: 20px 10px 20px 40px;
            }
            padding: 15px 10px 15px 20px;
            &:hover {
                color: white;
                cursor: pointer;
            }
            &:after {
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -( $accordion-arrow-size / 2);
                width: $accordion-arrow-size;
                height: $accordion-arrow-size;
                @include font-bold;
                content: "+";
                //content: "\279C";
                transform: rotate( 90deg);
                font-size: $accordion-arrow-size;
                line-height: 1em;
                pointer-events: none;
                text-align: center;
                vertical-align: middle;
                color: white;
                transition: transform 300ms ease-in-out;
            }
            &:before {
                content: '';
                position: absolute;
                right: -15px;
                top: 0;
                width: 25px;
                height: 100%;
                background: $grey;
                transform: skewX(-12deg);
                transition: all 300ms ease-in-out;
            }
        }
        .accordion-content {
            display: none;
        }
        &.navy .accordion-handle,
        &.navy .accordion-handle:before {
            background-color: $navy;
        }
        &.blue .accordion-handle,
        &.blue .accordion-handle:before {
            background-color: $blue;
        }
        &.sky .accordion-handle,
        &.sky .accordion-handle:before {
            background-color: $sky;
            color: black;
        }
        &.yellow .accordion-handle,
        &.yellow .accordion-handle:before {
            background-color: $yellow;
            color: black;
        }
        &.green .accordion-handle,
        &.green .accordion-handle:before {
            background-color: $green;
        }
        &.grey-light .accordion-handle,
        &.grey-light .accordion-handle:before {
            background-color: $grey-light;
        }
        &.grey-dark .accordion-handle,
        &.grey-dark .accordion-handle:before {
            background-color: $grey-dark;
        }
        &.open {
            .accordion-handle {
                &:after {
                    content: '-';
                    transform: rotate( 360deg);
                    margin-top: -20px;
                }
            }
            .accordion-content {
                display: block;
                padding: 10px 20px;
                @include respond-to( 480px) {
                    padding: 10px 20px 20px 40px;
                }
            }
        }
    }
}