.icons-container {
    overflow: hidden;
    background: white url(../img/bg-stripes-white.svg) center center no-repeat fixed;
    background-size: cover;
    color: $navy;
    @include padding;
    &.stripes-navy {
        background-color: $navy;
        color: white;
        .icons .icon .icon-content,
        .btn.arrow {
            color: white;
        }
        .icons .icon .icon-container:after {
            content: none;
        }
    }
    &.rings {
        background: $navy url(../img/bg-tree-rings.svg) center center no-repeat fixed;
        background-size: cover;
        color: white;
        .icons .icon .icon-content,
        .btn.arrow {
            color: white;
        }
        .icons .icon .icon-container:after {
            content: none;
        }
    }
    &.stripes-light-navy {
        background: rgba( $navy, .2) url(../img/bg-stripes-whiter.svg) center center no-repeat fixed;
        background-size: cover;
    }
    &.stripes-light-navy.vertical,
    &.stripes-white.vertical {
        .icons .icon {
            .icon-container {
                padding-bottom: 15px;
            }
            .icon-content {
                background: white;
                padding: 100px 20px 30px 20px;
                margin-top: -100px;
                h4 {
                    font-size: 2.6em;
                }
                p {
                    @include font-bold;
                    font-size: 1.4em;
                    padding: 0 0 10px;
                }
            }
        }
    }
    &.vertical {
        .icons {
            overflow-x: auto;
            .icon {
                margin-right: 0;
                display: block;
                .icon-container {
                    max-height: 150px;
                    margin: 0 auto 30px;
                    &:after {
                        width: 90%;
                        left: 5%;
                        top: auto;
                        bottom: 0;
                    }
                }
                .icon-content {
                    text-align: center;
                }
            }
            @include respond-to( $bp-m) {
                flex-wrap: nowrap;
                .icon {
                    flex: 1;
                    margin-right: 3%;
                }
            }
        }
    }
    .icons {
        @include respond-to( $bp-m) {
            display: flex;
            flex-wrap: wrap;
            margin-right: -5%;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        .icon {
            display: flex;
            align-items: flex-start;
            margin-right: 3%;
            padding-bottom: 40px;
            @include respond-to( $bp-m) {
                align-items: center;
                flex: 0 0 45%;
                margin-right: 5%;
                padding: 20px;
            }
            .icon-container {
                flex: 0 0 30%;
                display: flex;
                align-items: center;
                aspect-ratio: 1 / 1;
                text-align: center;
                position: relative;
                img {
                    flex: 1;
                    position: relative;
                    z-index: 1;
                }
                &:after {
                    position: absolute;
                    z-index: 0;
                    content: "";
                    width: 84%;
                    aspect-ratio: 1 / 1;
                    background: $grey;
                    border-radius: 50%;
                    left: 8%;
                    top: 8%;
                }
                &.navy:after {
                    background-color: $navy;
                }
                &.blue:after {
                    background-color: $blue;
                }
                &.sky:after {
                    background-color: $sky;
                }
                &.green:after {
                    background-color: $green;
                }
                &.yellow:after {
                    background-color: $yellow;
                }
            }
            .icon-content {
                flex: 1 1 65%;
                padding-left: 5%;
                color: $navy;
                h4 {
                    @include font-black;
                    font-weight: bold;
                    font-size: 1.1em;
                    line-height: 1.4em;
                    text-transform: uppercase;
                    @include respond-to( $bp-l) {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}