.separator {
    height: 30px;
    background: white url(../img/separator-navy.svg) center center no-repeat;
    background-size: cover;
    &.margin {
        margin: 0 30px;
    }
    &.blue {
        background-image: url(../img/separator-blue.svg);
    }
    &.sky {
        background-image: url(../img/separator-sky.svg);
    }
    &.green {
        background-image: url(../img/separator-green.svg);
    }
    &.yellow {
        background-image: url(../img/separator-yellow.svg);
    }
}