    .table {
        overflow: hidden;
        margin: 10px 0 25px;
        overflow-x: auto;
    }
    
    table {
        width: 100%;
        th.super {
            background: $navy;
            color: white;
            @include font-bold;
            font-size: 1.2em;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: white;
            }
        }
        tr {
            th,
            td {
                vertical-align: top;
                padding: 12px 18px;
                border: 1px solid rgba( black, .2);
                border-top: 0;
                line-height: 1.4em;
                &.label {
                    @include font-bold;
                }
            }
            th.sub {
                background: rgba( black, .1);
                text-align: left;
                font-weight: bold;
            }
        }
    }