.title-container {
    position: relative;
    overflow: hidden;
    background: white center center no-repeat;
    background-size: cover;
    padding: 50px 0 30px 0;
    @include respond-to( $bp-m) {
        padding: 13% 0 13%;
        .title {
            max-width: 40%;
        }
    }
    @include respond-to( $bp-l) {
        .title {
            max-width: 35%;
        }
    }
    &.navy .title,
    &.navy .title:before,
    &.navy .title:after {
        background-color: $navy;
        color: white;
    }
    &.blue .title,
    &.blue .title:before,
    &.blue .title:after {
        background-color: $blue;
        color: white;
    }
    &.sky .title,
    &.sky .title:before,
    &.sky .title:after {
        background-color: $sky;
        color: $navy;
    }
    &.yellow .title,
    &.yellow .title:before,
    &.yellow .title:after {
        background-color: $yellow;
        color: $navy;
    }
    &.green .title,
    &.green .title:before,
    &.green .title:after {
        background-color: $green;
    }
    .title {
        display: inline-block;
        position: relative;
        @include padding;
        background: $grey;
        &:after {
            content: '';
            position: absolute;
            right: -28px;
            top: 0;
            width: 50px;
            height: 100%;
            background: $grey;
            transform: skewX(-12deg);
            transition: all 300ms ease-in-out;
        }
    }
    h1 {
        color: white;
        text-transform: uppercase;
        @include font-black;
        font-size: 2em;
        line-height: 1em;
        @include respond-to( $bp-m) {
            font-size: 3em;
        }
        @include respond-to( $bp-l) {
            font-size: 4em;
        }
    }
}